doctype html
html
  head
    title= title
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/styles.css' type='text/css')
    block head
  body
    .container
      header
        nav
          ul
            li
              a(href='/') Home
            li |
            li
              a(href='#') Blog
            li |
            li
              a(href='/register') Register
      
      main
        block content
      
      footer
        | &copy; Copyright 2021
