extends layout

block content
  .registrants-container
    if registrations.length
      table.registrants-table
        thead
          tr
            th Name
            th Email
            th Username
            th Password
        tbody
          each registration in registrations
            tr
              td= registration.name
              td= registration.email
              td= registration.username
              td= registration.password
    else
      p No registrations yet :(