extends layout

block content
  .content-wrapper
    section#thank-you
      span Simple Kitchen
      h2 Thank You for Registering!
      p Your registration has been successfully submitted.
      p We're excited to share our simple and comforting recipes with you!
      
      .button-group
        a.submit-buttton(href='/') Back to Home
        a.submit-buttton(href='/registrants') View All Registrants
